.section_1 {
    width: 100%;
    min-height: 100vh;
    /* clear: both; */
    /* float: left; */
    position: relative;
    /* margin-bottom: 190px; */
    padding-inline: 17px;

}

.section_1_background_img {
    background-image: var(--main-background-image-url);
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.section1_content {
    width: 100%;
    min-height: 100%;
    padding-top: 150px;
    /* height: 100vh; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.floating-element {
    min-width: 50px;
    min-height: 50px;
    padding: 4px;
    /* background-color: #3498db; */
    /* border: 1px solid gray; */
    border-radius: 5px;
    position: absolute;
    animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}






@media screen and (max-width: 1024px) {
    .section1_content {

        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .floating-element{
        display: none;
    }
    
    .section1_content {
     
        padding-top: 100px;
    }

}