.footer-container {
    min-height: 20vh;
    background: var(--footer-background);
    color: var(--app-text-color);
    padding: 57px 0 61px;
}

.footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content {
    width: 22%;
    max-width: 24%;
    margin:0 auto;
    padding: 0 auto;
}

.footer-content h2 {
    color: var(--orange);
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}

.wrap-break{
    min-width: 135px;
    word-wrap: break-word;
    display: inline-block;
    line-height: 15px;
}


.footer-content .footer-ul li {
    cursor: pointer;
    
}

.footer-content .footer-ul li:hover {
    text-decoration: underline;
    transform: scale(1.01);
}


@media screen and (max-width: 1024px) {
    .footer-content {
        width: 40%;
        max-width: 44%;
    }

    .footer-content h2 {
        color: var(--orange);
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .footer-content-wrapper {
        /* justify-content: space-around; */
        gap: 10px 0;
    }


}



@media screen and (max-width: 634px) {

    .footer-content {
        width: 45%;
        max-width: 46%;
        /* text-align: center; */
    }

    .footer-content h2 {
        font-size: 20px;

    }

    .footer-content-wrapper {
        justify-content: center;

        gap: 40px 10px;

    }


}