@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-background: white;
  --app-text-color: #2b2d33;
  --orange: #f75023;
  --main-background-image-url: url('../public/images/background-light.jpg');
  --reverse-color: #2b2d33;
  --footer-background: #f2f5fb;

}


[data-theme="dark"] {
  --app-background: #2b2d33;
  --app-text-color: white;
  --main-background-image-url: url('../public/images/background-dark.jpg');
  --reverse-color: white;
  --footer-background: #3f4453;

}





* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  font-family: 'Rubik', sans-serif;
}


.color-orange {
  color: #f75023;
}

.bg-orange {
  background-color: #f75023;
}


.container {
  max-width: 1240px;
  margin: auto;
}


.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 16px;
}
.fs-15{
  font-size: 15px;
}

.flip-horz{
  transform: scaleX(-1);
}
































body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}