.simple_btn {
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid var(--orange);
    color: var(--reverse-color);
    font-weight: 800;
    font-size: 17px;


}

.simple_btn:hover {
    /* border: 2px solid  white; */
    color: var(--app-background);

    background-color: var(--orange);



}